.header {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  justify-content: space-between;
  background: rgb(53, 53, 53);
  border-bottom: 1px solid rgb(66, 66, 66);
}
