@keyframes appearAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  animation: appearAnim 300ms ease-out forwards;
}

.btn {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
