.root {
  --background-color: black;
  --primaroy-color: black;
  --light-color: #fff;
  // will finish later
}

.section {
  max-width: 1340px;
  padding: 0px 20px;
  margin: 200px auto;
  width: 100%;
}
