.root {
  --background-color: black;
  --primaroy-color: black;
  --light-color: #fff;
  // will finish later
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}
ul,
ol {
  list-style: none;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

.section {
  max-width: 1340px;
  padding: 0px 20px;
  margin: 200px auto;
  width: 100%;
}
