@keyframes appearAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.historyList {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  border: 1px solid rgb(66, 66, 66);
  border-radius: 5px;
  background: rgb(56, 56, 56);
  width: 100%;
  gap: 5px;
  animation: appearAnim 300ms ease-out forwards;
}

.listWrapper {
  display: flex;

  overflow: hidden;
  width: 100%;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.btn {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
