@keyframes anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.charecterPage {
  border-radius: 20px;
  align-items: flex-start;
  background: linear-gradient(
    to right,
    rgb(66, 66, 66) 33%,
    rgb(109, 109, 109) 63%
  );
  animation: anim 300ms ease-out forwards;
}
