@keyframes anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.charecterPage {
  display: flex;
  gap: 20px;
  padding: 40px;
  border-radius: 20px;
  align-items: flex-start;
  background: linear-gradient(
    to right,
    rgb(66, 66, 66) 33%,
    rgb(109, 109, 109) 63%
  );
  animation: anim 300ms ease-out forwards;
}

.episodesList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.episodeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 12px;
  border: 1px solid rgb(155, 154, 154);
  cursor: pointer;
  transition: all 300ms ease-out;
  &:hover {
    border-color: rgb(211, 210, 210);
  }
}

.card {
  & h2 {
    margin-bottom: 20px;
  }
}
