.loader {
  position: fixed;
  border-radius: 20px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  background: rgb(77, 77, 77);
  transition: opacity 300ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.visible {
  opacity: 0.3;
  z-index: 1;
}
